@model IEnumerable<WebApp.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Add">Add Course</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CurrencyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Buy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sell)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrencyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Buy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sell)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>