@model IEnumerable<WebApp.Models.Currency>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Currency" asp-action="Add">Add Currency</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyLatinName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyLatinName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
