@model IEnumerable<WebApp.Models.Currency>

@{
    ViewData["Title"] = "Currencies";
}

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Buy</th>
        <th>Sell</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.CurrencyName</td>
            <td>@item.Buy</td>
            <td>@item.Sell</td>
            <td>@item.Date</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Currency", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", "Currency", new { id = item.ID })
            </td>
        </tr>
    }
</table>

<hr />
<a class="nav-link text-dark" asp-area="" asp-controller="Currency" asp-action="Add">Add Currency</a>